@import 'color-variables.scss';

body {
  background-color: $dark;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  margin-top: 30px;
}

select {
  appearance: none;
  border: 0px;
  background-color: transparent;
  color: white;
}

.btn-outline-light {
  background-color: transparent;
  border-color: white;
  color: white;

  &:hover {
    background-color: $light-blue;
    border-color: $light-blue;
    color: white;
  }
}