@import 'color-variables.scss';

body {
  background-color: $dark;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  margin-top: 30px;
}

select {
  appearance: none;
  border: 0px;
  background-color: transparent;
  color: white;
}

.btn.in-valid {
  border: 2px solid $old-rose;
}

.btn-outline-light {
  background-color: transparent;
  border-color: rgb(146, 140, 140);
  color: white;

  &:hover {
    background-color: $ice-berg;
    color: white;
  }

  &.active {
    background-color: $ice-berg;
  }
}

#web-title {
  font-size: 1.25rem;
  cursor: pointer;
}

.btn-light-blue {
  color: white;

  &:hover {
    color: white;
  }

  &:focus {
    color: white;
  }
}